$primary-color: #CC6237;
$subtitle-font-color: #2A4D8E80;

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 100px 200px 0px #00000040;
    display: flex;
}

.content {
    padding: 40px 20px;
    gap: 20px;
}

.title, .label {
    color: $primary-color;
}

.subtitle {
    color: $subtitle-font-color;
}

.headerText {
    gap: 0;
}
